<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AirChat</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="{{ url_for('static', filename='iro.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
</head>
<body style="text-align:center; font-family: Arial, serif; font-size: 14pt; background-color: #1d2b3a;">
	<div id="splash" class="splash">
		<img class="fade-in" src="{{ url_for('static', filename='icon_air.png') }}" alt="AirChat">
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
	<div style="min-height: 10px;"></div>
	<div id="headerl" class="headerl" align="centre">
	<h1 align="left" style="color: #8f8d8d; text-align: center;">AirChat 1.0</h1>
	</div>
	<br>
	<div class="color-picker"></div>
	<button id="color-indicator" class="color-indicator" onclick="toggleit()"></button>
	<script type="text/javascript">
		function toggleit () {
			document.getElementById("color-indicator").classList.add("color-indicator-active");
		}
	</script>
	<button id="logout" class="logout">Logout</button>
	<div id="color-picker"></div>
	<button class="btnOK" id="btnOK">
		OK
	</button>
	<div class='message-div' id='messages' style="text-align: center; margin: 0 auto; width: 70%; min-height: 60%; transform: translateX(-100px);">
		<div style="min-height:3%;"></div>
	</div>
	<div style="min-height:10px;"></div>
	<div style="min-height: 10px;"></div>
	<div class="mainDiv">
	<div class="inputBox1">
	<input type="text" id="message" required='required'>
	<span>Message</span>
	</div>
	</div>
	<span>
	<div style="min-height: 60px;"></div>
	</span>
	<div style="max-height: 0px; max-width: 0px;" class="msgbox"></div>
</body>
</html>
