<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AirChat</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="{{ url_for('static', filename='swa.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body style="background: #1d2b3a;">
	<div class="splash" style="background: #1d2b3a;"></div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
	<div class="box">
		<div class="form">
			<h2>AirChat</h2>	
			<div class="inputBox">
				<input type="text" id='uname' class="input" required='required'>
				<span id='span'>Username</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="password" id='pwd' class="input" required='required'>
				<span id='span'>Password</span>
				<i></i>
			</div>
			<div style="min-height: 10px;"></div>
			<div style="color: #45f3ff; text-align: right; max-height: 5px;"><a href='#' id='createID' style="color: #45f3ff;">Create ID</a></div>
			<button class='btnoLogin' id='btnLogin'>Login</button>
		</div>
	</div>
</body>
</html>
